* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

section.barra-lateral {
  flex-direction: column;
  background-color: salmon;
  padding: 0.3rem;
}

section.principal {
  flex-grow: 1;
  background-color: aquamarine;
  padding: 0.3rem;
}

@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }
  section.barra-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
